/*
	IAS Default Stylesheet A
	Based on Gruvbox Dark

	Accent colors (Gruvbox):
	- Vibrant red			#fb4934
	- Vibrant green 		#b8bb26
	- Vibrant yellow 		#fabd2f
	- Vibrant blue 			#83a598
	- Vibrant purple 		#d3869b
	- Vibrant aqua 			#8ec07c
	- Vibrant orange 		#fe8019

	- Pale red 				#cc241d
	- Pale green 			#98971a
	- Pale yellow 			#d79921
	- Pale blue 			#458588
	- Pale purple 			#b16286
	- Pale aqua 			#689d6a
	- Pale orange 			#d65d0e
*/


/*
 *
 * GENERIC RULES
 *
 */
body {
	background-color: #282828;
	color: #fbf1c7;
}

hr {
	border-color: #7c6f64;
}

a 						{ color: #8ec07c; }		/* External link */
a:hover 				{ color: #fbf1c7; }
a.internal 				{ color: #d79921; }		/* Internal user-produced link */
a.internal.auto 		{ color: #98971a; }		/* Internal automatic link */
a.internal.auto:hover 	{ color: #458588; }

/* Utilized by blink() */
.attention {
	background-color: #fbf1c7 !important;
}


/*
 *
 * TABLES
 *
 */
table {
	box-shadow: 2px 2px #dfd9c0;
}


/*
 *
 * VARIOUS INPUT ELEMENTS
 *
 */
textarea {
	background-color: #282828;
}

input {
	background-color: #282828;
}

select {
	background-color: #282828;
}


/*
 *
 * CODE BLOCKS
 *
 */
code {
	background-color: #504945;
	color: #fb4934;
}

code a {
	color: #ff5914;
}


/*
 *
 * BUTTONS
 *
 */
button {
	background-color: #3c3836;
	border-color: #bdae93;
	color: #ebdbb2;
}

button:hover {
	background-color: #7c6f64;
}

button[disable="true"] {
	color: #7c6f64;
}

button[disable="true"]:hover {
	background-color: #3c3836;
}

button.alert {
	background: linear-gradient(#d65d0e 0%, #3c3836 50%);
	border-top-color: #fe8019;
}

button.alert:hover {
	background: linear-gradient(#fe8019 0%, #3c3836 50%);
}

/*
 *
 * NAVIGATION BAR
 *
 */
nav {
	background-color: #202020;
}

.nav_dropdown {
	background-color: inherit;
}


/*
 *
 * NOTE
 *
 */
content .box {
	background-color: #3c3836;
}

.note_title {
	color: #a89984;
}

.note_date {
	color: #7c6f64;
}

.editing {
	background-color: #282828;
}


/*
 *
 * DROPDOWNS
 *
 */
.dropdown {
	background-color: #3c3836;
}


/*
 *
 * STATUS- (NOTIFICATION-) BOXES
 *
 */
.status_box {
	background-color: #2C2C2C;
	color: #DCDCDC;
}

.status_box.success { color: #72D5A3; }
.status_box.error 	{ color: #DCA3A3; }

.status_box.success hr { border-color: #72D5A3; }
.status_box.error 	hr { border-color: #DCA3A3; }


/*
 *
 * PROGRESS BARS
 *
 */
.progress {
	background-color: #202020;
}

.progress .bar {
	background-color: #ff8001;
	mix-blend-mode: difference;
}


/*
 *
 * TAGS
 *
 */
.tag {
	background-color: #eecc66;
	color: #3c3836;
}


/*
 *
 * DRAG-AND-DROP
 *
 */
/* Drop areas all start attenting when something is being dragged over the window */
.drag_and_drop_area.attenting {
	background-color: #d79921;
}

/* A specific area becomes ready if something is being dragged over it in particular */
.drag_and_drop_area.attenting.ready {
	background-color: #98971a;
}


/*
 *
 * ADVANCED RULER
 *
 */
ruler:before {
	background-color: #7c6f64;
}

ruler:after {
	background-color: #7c6f64;
}
